.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);

  a {
    color: #aaa;
    text-decoration: none;
    &:not(.home-main):hover {
      color: #ff6912;
    }
  }

  .active {
    color: #ff6912;
  }

  .home-main {
    position: relative;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ff6912;
    color: #fff;
  }
}
